<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="AWSAccessKey" value="AKIAIAZCDKXQKAGFHGEA"/>
		<add key="AWSSecretKey" value="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"/>
	</appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
